
.col-lg-6{
  padding: 0;
  margin-left: 20px;
}


.middle{
  top: 50%;
  left: 50%;
}
.card{
  cursor: pointer;
  height: 200px;
  width: 150px;
  position: relative;


}

.front, .back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .3s linear;
}

.front img{
  height: 100%;
  align-items: center;
}

.front{
  transform: perspective(600px) rotateY(0deg);
}

.back{
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}

.back-content{
  color: blue;
  text-align: center;
  width: 100%;
}

.sm{
  margin: 20px 0;
}

.sm a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%
}

.sm a:hover{
  background: #2c3e50;
  color: white;

}

.card:hover > .front{
transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
transform: perspective(600px) rotateY(0deg);
}
